{% extends "base.html" %}

{% block title %}Home Page{% endblock %}

{% block body %}

  <section class="title">
    <div class="row">
      <h2 style="color: black">CS 591 L1 Final Project</h2>
      <p><strong>By Minteng Xie, Yue Lei, Zhi Dou</strong></p>
    </div>
  </section>

  <section class="description">
    <div class="row">
      <h2>Introduction</h2>
      <p>We want to find a best office location for a new company. First......After..........</p>
      
      <h2>Data Resourses</h2>
      <ol>
        <li><a href="https://data.cityofboston.gov/Permitting/Active-Food-Establishment-Licenses/gb6y-34cq" target="_blank">Food Data</a> &mdash; contains coordinates of restaurants in Boston.</li>
        <li><a href="http://datamechanics.io/data/minteng_zhidou/stops.txt" target="_blank">Transport Data</a> &mdash; contains coordinates of MBTA stops in Boston.</li>
        <li><a href="https://data.cityofboston.gov/Public-Safety/Crime-Incident-Reports-August-2015-To-Date-Source-/fqn4-4qap" target="_blank">Safety/Crime Data</a> &mdash; contains coordinates of crimes(2015 -2017) in Boston.</li>
        <li><a href="http://datamechanics.io/data/minteng_zhidou/rent.txt" target="_blank">Rent Data</a> &mdash; contains average rents of cities in Boston.</li>
      </ol>

      <h2>Optimization</h2>
      <p>We gonna find the best area that maximize #restaurant, #MBTA stops and minimize #crime incidents and rent price..........</p>
      <p><a href="/optimize/">&#8594; Input your ratings and get your results!</a></p>

      <h2>Static Analysis</h2>
      <p>.......................</p>
      <p><a href="/static-analysis/">&#8594; Try it!</a></p>
    </div>
  </section>


{% endblock %}