<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.3/leaflet.css" />
  </head>
  <body style="width:100%; height:100%; margin:0; padding:0;">
  <p><a href="/optimize/">&#8592; Go back to homepage</a></p>
	<div id="leaflet" style="width:100vw; height:100vh;"></div>
	<script src="visualization.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.3/leaflet.js"></script>
	<script>
      function randomColor() {
        var color = '', letters = '0123456'; //789ABCDEF
        for (var i=0; i<6; i++) {color += letters[Math.floor(Math.random() * letters.length)];}
        return '#' + color;
      }
      var map = L.map('leaflet').setView([42.309814073534994, -71.08918408940075], 12);
      L.tileLayer("https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw", { //"http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png"
        maxZoom:18, attribution:'', id:'mapbox.light'
      }).addTo(map);

      //marker
      var temp='#1:  '+'('+String({{a.center}})+ ')'
      var marker = new L.Marker(new L.latLng({{a.center}}));
      marker.addTo(map).bindPopup('#1', {autoClose:false}).openPopup();

      var temp='#2:  '+'('+String({{b.center}})+ ')'
      var marker = new L.Marker(new L.latLng({{b.center}}));
      marker.addTo(map).bindPopup('#2', {autoClose:false});

      var temp='#3:  '+'('+String({{c.center}})+ ')'
      var marker = new L.Marker(new L.latLng({{c.center}}));
      marker.addTo(map).bindPopup('#3', {autoClose:false});

      var temp='#4:  '+'('+String({{d.center}})+ ')'
      var marker = new L.Marker(new L.latLng({{d.center}}));
      marker.addTo(map).bindPopup('#4', {autoClose:false});

      var temp='#5:  '+'('+String({{e.center}})+ ')'
      var marker = new L.Marker(new L.latLng({{e.center}}));
      marker.addTo(map).bindPopup('#5', {autoClose:false});


      //cycle
      var circle = L.circle({{a.center}}, 3000, {
           color: 'black',
           fillColor: 'red',
           fillOpacity: 0.3
          }).addTo(map);

      var circle = L.circle({{b.center}}, 2000, {
           color: 'black',
           fillColor: 'blue',
           fillOpacity: 0.3
          }).addTo(map);

      var circle = L.circle({{c.center}}, 1500, {
           color: 'black',
           fillColor: 'green',
           fillOpacity: 0.3
          }).addTo(map);

      var circle = L.circle({{d.center}}, 1000, {
           color: 'black',
           fillColor: 'yellow',
           fillOpacity: 0.3
          }).addTo(map);

      var circle = L.circle({{e.center}}, 500, {
           color: 'black',
           fillColor: 'grey',
           fillOpacity: 0.3
          }).addTo(map);


	</script>
  </body>
</html>