{% extends "base.html" %}

{% block title %}Optimize{% endblock %}

{% block body %}
  <section>
    <div class="row">
      <p><a href="/">&#8592; back</a></p>
    </div>
  </section>

  <section class="title">
    <div class="row">
      <h2 style="color: black">Optimization</h2>
      <p>Intro.......</p>

      <h2>Input your ratings</h2>
      
      <form class="ratings" action="/optimize-result/" method="GET">
        <p>Select ratings for every factors, the rating is 1 - 5, the higher the better......</p>
        
        <p><span style="color:#EA5455">Food</span>:
        <select class="form-control" name="Food" >
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select></p>

        <p><span style="color:#EA5455">Transport</span>:
        <select class="form-control" name="Transport" >
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select></p>

        <p><span style="color:#EA5455">Safety</span>:
        <select class="form-control" name="Safety" >
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select></p>

        <p><span style="color:#EA5455">Rent</span>:
        <select class="form-control" name="Rent" >
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select></p>

        <input type="submit" value="Research">
      </form>
    </div>


  </section>


{% endblock %}